<div class="row">
  <div class="col-sm-6 col-md-4 innerLR">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= @user.name %></h3>
        <p><%= @user.profile %></p>
        <p><%= image_tag(@user.image_url) %></p>
      </div>
    </div>
  </div>
</div>
