<p>ようこそ。 <%= @email %>さん！</p>

<p>ご利用いただき、誠にありがとうございます。</p>

<p>下記のリンクをクリックして、アカウントを有効にしてください。:</p>

<p><%= link_to 'こちらをクリック', confirmation_url(@resource, confirmation_token: @token) %></p>

--------------------------------------------------------------------------------------------------------------


<p>このメールに覚えがない場合は、誠に恐れ入りますが<br>
以下までご連絡をいただいた上、メールを破棄して頂けますと幸いです。</p>
<p>info@imoken.net</p>