<p>こんにちは。 <%= @resource.email %>さん</p>
<p>いつもご利用いただき、誠にありがとうございます。</p>

<p>下記のリンクをクリックして、パスワードを再設定してください。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

--------------------------------------------------------------------------------------------------------------

<p>このメールに覚えがない場合は、誠に恐れ入りますが<br />
以下までご連絡をいただいた上、メールを破棄して頂けますと幸いです。</p>
<p>info@imoken.net</p>